<div class="container content">
  <div>
    <button (click)="createMockUser()" class="btn btn-secondary tooltips float-lg-none mt-2" data-placement="top" data-toggle="tooltip" data-original-title="Add">Add mock user <i class="fa fa-plus"></i></button>
  </div>
  <div>
    <button (click)="createUser()" class="btn btn-secondary tooltips float-lg-start mt-2" data-placement="top" data-toggle="tooltip" data-original-title="Add">Add user <i class="fa fa-plus"></i></button>
  </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mt-2" *ngFor="let user of users">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{user.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{user.name}}</h5>
                        <p class="m-0">Id: {{user.id}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-md-end"></i>Email : <a href="#">{{user.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-md-end"></i>Phone : {{user.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-md-end btn-group btn-group-sm">
                        <!-- <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a> -->
                        <button (click)="updateUser(user)" class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
                        <!-- qua aggiungi check per l'id -->
                        <button (click)="deleteUser(user.id!)" class="btn btn-secondary"><i class="fa fa-times"></i></button>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
