<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container">
        <a routerLink="/" class="navbar-brand">WorkoutDiary.train</a>

        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li><a routerLink="/home" class="nav-item nav-link active">Home</a></li>
            <li><a routerLink="/users" class="nav-item nav-link">Users</a></li>
            <li class="dropdown">
              <a routerLink="/trainings" class="nav-item nav-link" data-toggle="dropdown">Trainings</a>
              <!-- <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Dropdown Item 1</a>
                <a href="#" class="dropdown-item">Dropdown Item 2</a>
                <a href="#" class="dropdown-item">Dropdown Item 3</a>
              </div> -->
            </li>
            <li><a routerLink="/exercises" class="nav-item nav-link">Exercises</a></li>
            <li><a routerLink="/diary" class="nav-item nav-link">Diary</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

